    <li class="nav-item active">
      <a class="nav-link" href="{% url 'lab-10:index' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'lab-10:movie_list' %}">Movie List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'lab-10:list_watch_later' %}">My Watch Later</a>
    </li>
  
