{% extends 'base.html' %}

{% load staticfiles %}
{% block title %}
My Resume
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lab_4.css' %}" />
{% endblock %}

{% block header %}
{% include 'partials/header.html' with headerlist_left='lab_4/partials/header.html' %}
{% endblock %}

{% block content %}
    <content>
      <div class="container">
        {% block content_lab4 %}
          <!-- content goes here -->
        {% endblock %}
      </div>
    </content>
{% endblock %}