body{
    margin-top: 70px;
 }
 /* Custom navbar style */
 .navbar-static-top {
    margin-bottom: 19px;
 }
 .navbar-default .navbar-nav>li>a {
    cursor: pointer;
 }
 /* Textarea not resizeable */
 textarea {
    resize:none
 }
 
 .friend-item{
     margin: 0px 200px 0 80px
 }

 @media only screen and (max-width: 768px) {
    .friend-item{
        margin: 0px 30px 0 30px
    }
  }