{% extends 'base.html' %}

{% load staticfiles %}
{% load staticfiles %}

{% block title %}
Hanifa Arrumaisha
{% endblock %}

{% block header %}
{% include 'partials/header.html' with headerlist_left='resume/partials/header.html' %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/resume.css' %}" type="text/css">
{% endblock %}

{% block content %}
<section id="hero" class="text-inverse">
	<div class="container text-xs-right">
		<h1 class="title display-1">Hanifa Arrumaisha</h1>
		<h3 id="univ" style="color:#FFBC65" class="subtitle">Student of Universitas Indonesia</h3>
	</div>
</section>

<section id="about"> <!-- mengkhususkan sesuatu -->
	<div class="container">
		<h1>ABOUT ME!</h1><br><br>
		<div class="row">
			<div class="col-xs-8 col-sm-5 col-md-8">
				<h2 id="headHobi" onclick="addText(textHobi)">What's My Hobby?</h2>
				<p onclick="addText(textHobi)" id="textHobi">Click to know more!</p>
			</div>

			<div class="col-xs-2 col-sm-2 col-md-2">
				<img src="{% static 'img/learning.png' %}" width="100px" height="100px">
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-2 col-sm-5 col-md-2"></div>
			<div class="col-xs-8 col-sm=5 col-md-8">
				<h2 id="headWeb" onclick="addText(textWeb)">The Next Web Developer!</h2>
				<p onclick="addText(textWeb)" id="textWeb">Click to know more!</p>
			</div>
			<div class="col-xs-2 col-sm-2 col-md-2">
				<img src="{% static 'img/studying.png' %}" width="100px" height="100px">
			</div>
		</div>
		<br>
	</section>

<section id="resume">
	<div class="container">
		<div class="row text-xs-center">
			<h1>RESUME</h1>
		</div>
		<section id="education">
			<h2>Education</h2>
			<div class="row">
				<div class="col-xs-3 col-md-3">
					<div>University of Indonesia</div>
				</div>
				<div class="col-xs-9 col-md-9">
					<div class="col-xs-9 col-md-9">
						<p>Faculty of Computer Science</p>
					</div>

					<div class="col-xs-3 col-md-3">Graduate in 2020</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-xs-3 col-md-3">
					<div>SMAN 98 Jakarta</div>
				</div>
				<div class="col-xs-9 col-md-9">
					<div class="col-xs-9 col-md-9">
						<p>Science</p>
					</div>
					<div class="col-xs-3 col-md-3">
						<p>Graduated in 2016<p>
					</div>
				</div>
			</div>
		</section>

		<section id="organization">
			<h2>Organization</h2>
			<br>
			<div id="text" class="row">
				<div class="col-sm-2 col-md-1">
					<img id="logoosis" src="{% static 'img/osis.png' %}" height="80px" width="70px">
				</div>
				<div class="col-sm-3 col-md-2">
					<div>OSIS</div>
					<div>SMPN 188 Jakarta</div>
				</div>
				<div class="col-sm-5 col-md-7">
					Sebagai Wakil Ketua OSIS yang membantu peran Ketua OSIS dalam menjalankan tugas</div>
				<div class="col-sm-2 col-md-2">November 2012</div>
			</div>
			<div id="text" class="row">
				<div class="col-sm-2 col-md-1">
					<img id="logorohis" src="{% static 'img/rohis.png' %}" height="70px" width="70px">
				</div>
				<div class="col-sm-3 col-md-2">
					<div>Rohani Islam (ROHIS)</div>
					<div>SMAN 98 Jakarta</div>
				</div>
				<div class="col-sm-5 col-md-7">
					Sebagai Kepala Divisi Kaderisasi ROHIS SMAN 98 Jakarta</div>
				<div class="col-sm-2 col-md-2">September 2015</div>
			</div>
			<div id="text" class="row">
				<div class="col-sm-2 col-md-1">
					<img id="logofuki" src="{% static 'img/logoijo.png' %}" height="75px" width="60px">
				</div>
				<div class="col-sm-3 col-md-2">
					<a href="http://fuki.cs.ui.ac.id">Forum Ukhuwah dan Kajian Islamiah (FUKI)</a>
					<div>Fakultas Ilmu Komputer</div>
				</div>
				<div class="col-sm-5 col-md-7">
					Sebagai Kepala Biro Kepala Biro Kesekretaritan dan Musholla FUKI</div>
				<div class="col-sm-2 col-md-2">Januari 2017</div>
			</div>
		</section>
		<br>
		<section id="Skills">
			<h2>Skills</h2>
			<div class="row">
				<ul>
					<div class="col-md-4">
						<li>Java</li>
						<li>Python</li>
						<li>C#</li>
						<li>Front End Development</li>
					</div>
					<div class="col-md-4">
						<li>HTML</li>
						<li>CSS</li>
						<li>Object Oriented Programming</li>
					</div>
					<div class="col-md-4">
						<li>Javascript</li>
						<li>Laravel</li>
						<li>React</li>
					</div>
				</ul>
			</div>
		</section>
		<br>
		<section id="portfolio">
			<h2>Portfolio</h2>
				<dl>
					<dt>CV</dt>
					<dd>Hanifa Arrumaisha</dd>
					<dd>
						A CV from a little girl which is named Hanifa Arrumaisha.
					</dd>
					<dd><a href="https://hanifaarrumaisha.github.io/resume">Open</a></dd>
					<br>
					<dt>Project Open Recruitment Microsoft Student Partner</dt>
					<dd>
					Membuat cross platform apps dengan menggunakan Xamarin dan Azure features
					</dd>
					<dd><a href="https://1drv.ms/u/s!Av4zFSSthjwLmA67pDKFeehUhL3c" target="_blank">Download</a></dd>
				</dl>
		</section>
		<section id="workshop">
			<h2>Workshop and Trainee</h2>
				<dl class="row">
				<div class="col-md-6">
					<dt>Basic Web Development with Laravel</dt>
					<dd>FUKI Fakultas Ilmu Komputer UI</dd>
					<dd>10 Mei 2017</dd>
					<dd>
						A workshop held by FUKICorp departement about how to developing web with laravel
					</dd>
				</div>
				<div class="col-md-6">
					<dt>Web Development Open Class</dt>
					<dd>Riset dan Teknologi (Ristek) Fasilkom UI</dd>
					<dd>
					A training held by Ristek Fasilkom UI, an organization in Fakultas Ilmu Komputer that concern in Riset and Technology. The training learn basic of HTML and CSS.
					</dd>
				</div>
				</dl>
		</section>
	</div>
</section>

{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock %}
