{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
Enter Komputer API
{% endblock %}
{% block css %}
<style>
    .rata-tengah {
        text-align: center;
        margin : 20px;
    }
    .judul {
        text-transform:uppercase;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    #content{
        padding-top:30px;
    }
</style>
{% endblock %}

{% block header %}
    {% include 'partials/header.html'%}
{% endblock %}

{% block content %}
    <content>
        <div class="container">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert" id="django-messages">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-right: 15px;">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
            {% endfor %}

            {% block content_lab9 %}
            <!-- Your Content Here -->
            {% endblock %}
        </div>
    </content>
{% endblock %}

<!-- Jquery n Bootstrap Script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
