{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
            {% block title %} {% endblock %} By {{author}}
    </title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css">   
    <link href="https://fonts.googleapis.com/css?family=Acme|Courgette|Exo|Pacifico" rel="stylesheet">
    {% block css %}
    {% endblock %}
    {% block js%}
    {% endblock %}
</head>
<style>
    
    #nama{
	border:2px solid black;
	padding-left:2px;
	padding-right:2px;
	float:left;
	margin-top:4px;
	margin-right:8px;
	font-family: 'Pacifico', cursive;
    }

    .nav-link:active{
        background-color:aliceblue;
    }

    #content{
        padding-top: 50px;
    }
    
    #nama:visited, #nama:link, #nama:hover{
	    color:black;
    }

  
    .subject{
        font-size: 20px;
        font-family: "Comic Sans MS";
        color: #6650ff;
    }
    .value{
        font-size: 20px;
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
        color: #ff102c;
    }
</style>
<body>
    <header>
       {% block header %}  
       {% endblock %}
    </header>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    {% include 'partials/footer.html' %}
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"></script>

<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js" type="text/javascript"></script>


{% block script %}
{% endblock %}
</html>
